@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px white; /* stroke width + color */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: montserrat;
  background-color: #000;
    overflow-x: hidden;

}
/* .solid-text {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;
  z-index: 5;
  line-height: 1.1;
} */
 /* .solid-text {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  z-index: 5;
  pointer-events: none;
  display: block;
} */




.hero-text {
  
  color: transparent;
  -webkit-text-stroke: 1px white;
}

a{
  padding: 10px;
}

.navlinks a{
  font-size: small;
}






